[tool.poetry]
name = "dbt-osmosis"
version = "0.11.17"
description = "A dbt server and suite of optional developer tools to make developing with dbt delightful."
authors = ["z3z1ma <butler.alex2010@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
keywords = ["dbt", "server", "streamlit", "git", "diff"]
documentation = "https://github.com/z3z1ma/dbt-osmosis"
repository = "https://github.com/z3z1ma/dbt-osmosis"

[tool.poetry.dependencies]
python = ">=3.8,<3.9.7 || >3.9.7,<3.11"
click = ">7"
dbt-core = ">=1"
"ruamel.yaml" = ">=0.17"
rich = ">=10"
pydantic = "<2"
GitPython = ">3,<4"
orjson = ">3,<4"
# Streamlit Workbench Dependencies
streamlit = { version = "1.20.0", optional = true }
streamlit-ace = { version = ">=0.1.0", optional = true }
ydata-profiling = { version = ">=3.6.0", optional = true }
feedparser = { version = "^6.0.10", optional = true }
streamlit-elements-fluence = { version = ">=0.1.4", optional = true }
# Testing duckdb + sqlite
dbt-duckdb = { version = ">=1.0.0", optional = true }
dbt-sqlite = { version = ">=1.0.0", optional = true }
dbt-postgres = { version = ">=1.0.0", optional = true }

[tool.poetry.dev-dependencies]
black = ">=21.9b0"
mypy = ">=0.910"
pytest = ">=6.2.5"
coverage = ">=5.5"
pylint = ">=2.11.1"
nox = ">=2021.6.12"
pytest-mock = ">=3.6.1"
viztracer = "^0.15.3"

[tool.poetry.extras]
duckdb = ["dbt-duckdb"]
sqlite = ["dbt-sqlite"]
postgres = ["dbt-postgres"]
workbench = [
    "streamlit",
    "streamlit-ace",
    "ydata-profiling",
    "feedparser",
    "streamlit-elements-fluence",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black] # https://black.readthedocs.io/en/stable/usage_and_configuration/the_basics.html#configuration-via-a-file
line-length = 100
target-version = ["py38", "py39", "py310", "py311"]
preview = true

[tool.isort] # https://pycqa.github.io/isort/docs/configuration/options.html
color_output = true
line_length = 100
profile = "black"
src_paths = ["src"]
include_trailing_comma = true

[tool.ruff] # https://beta.ruff.rs/docs/configuration/#using-pyprojecttoml
line-length = 100

[tool.poetry.scripts]
dbt-osmosis = 'dbt_osmosis.main:cli'
