[tool.poetry]
name = "dbt-osmosis"
version = "0.4.0"
description = "This package serves to cascadingly populate column level documentation, build & conform schema files, and audit coverage."
authors = ["Falador_wiz1 <alex@source.co>"]
license = "Apache 2.0"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
keywords = ["data engineering", "dbt", "ETL", "data modelling", "lineage", "documentation"]
documentation = "https://github.com/z3z1ma/dbt-osmosis"
repository = "https://github.com/z3z1ma/dbt-osmosis"

[tool.poetry.dependencies]
python = ">=3.7,<4.0"
click = ">7"
dbt = ">=0.19.0"
"ruamel.yaml" = "^0.17"
rich = "^10"
streamlit = "^1.0.0"
streamlit-ace = "^0.1.0"
graphviz = "^0.17"
pydot = "^1.4.2"
streamlit-agraph = "^0.0.35"
streamlit-pandas-profiling = "^0.1.2"
streamlit-aggrid = "^0.2.2"

[tool.poetry.dev-dependencies]
black = "^21.9b0"
mypy = "^0.910"
pytest = "^6.2.5"
coverage = "^5.5"
pylint = "^2.11.1"
nox = "^2021.6.12"
pytest-mock = "^3.6.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100

[tool.poetry.scripts]
dbt-osmosis = 'dbt_osmosis.main:cli'
