[tool.poetry]
name = "dbt-osmosis"
version = "0.7.18"
description = "This package exposes an interactive workbench for dbt modelling and serves to cascadingly populate column level documentation, build & conform schema files, and audit coverage."
authors = ["z3z1ma <butler.alex2010@gmail.com>"]
license = "Apache 2.0"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]
keywords = [
    "data engineering",
    "dbt",
    "ETL",
    "data modelling",
    "lineage",
    "documentation",
]
documentation = "https://github.com/z3z1ma/dbt-osmosis"
repository = "https://github.com/z3z1ma/dbt-osmosis"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
click = ">7"
dbt-core = ">=1"
"ruamel.yaml" = ">=0.17"
rich = ">=10"
streamlit = { version = ">=1.0.0", optional = true }
streamlit-ace = { version = ">=0.1.0", optional = true }
graphviz = { version = ">=0.17", optional = true }
pydot = { version = ">=1.4.2", optional = true }
streamlit-agraph = { version = ">=0.0.35", optional = true }
streamlit-pandas-profiling = { version = ">=0.1.2", optional = true }
streamlit-aggrid = { version = ">=0.2.2", optional = true }
scipy = { version = "^1.8.1", optional = true }
pydantic = "^1.9.1"
GitPython = "^3.1.27"
duckcli = { version = "0.0.1", optional = true }
dbt-duckdb = { version = ">=1.1.2,<1.2.0", optional = true }
dbt-sqlite = { version = "^1.1.2", optional = true }
dbt-bigquery = { version = ">=1", optional = true }
feedparser = { version = "^6.0.10", optional = true }
bottle = "^0.12.23"
orjson = "^3.8.0"

[tool.poetry.dev-dependencies]
black = ">=21.9b0"
mypy = ">=0.910"
pytest = ">=6.2.5"
coverage = ">=5.5"
pylint = ">=2.11.1"
nox = ">=2021.6.12"
pytest-mock = ">=3.6.1"
viztracer = "^0.15.3"

[tool.poetry.extras]
dbt-duckdb = ["dbt-duckdb", "duckcli"]
dbt-sqlite = ["dbt-sqlite"]
dbt-bigquery = ["dbt-bigquery"]
workbench = [
    "streamlit",
    "streamlit-ace",
    "graphviz",
    "pydot",
    "streamlit-agraph",
    "streamlit-pandas-profiling",
    "streamlit-aggrid",
    "scipy",
    "feedparser",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100

[tool.isort]
line_length = 100
multi_line_output = 3
include_trailing_comma = true

[tool.poetry.scripts]
dbt-osmosis = 'dbt_osmosis.main:cli'
dbt-osmosis-proxy = 'dbt_osmosis.server:cli'
