name: Tests

on:
  - push
  - pull_request

jobs:
  tests:
    name: Run pytest
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
        dbt-version: ["1.8.0", "1.9.0"]

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4.1.1

      - name: Set up Python
        uses: actions/setup-python@v5.1.0
        with:
          python-version: "${{ matrix.python-version }}"

      - name: Upgrade pip
        run: |
          pip install --constraint=.github/workflows/constraints.txt pip
          pip --version

      - name: Install Poetry
        run: |
          pip install --constraint=.github/workflows/constraints.txt poetry
          poetry --version

      - name: Install dbt-core
        run: |
          poetry add dbt-core==${{ matrix.dbt-version }}

      - name: Install required packages
        run: | # install duckdb extras to be able to parse manifest
          poetry install -E duckdb

      - name: Parse manifest
        run: |
          poetry run dbt parse --project-dir demo_duckdb --profiles-dir demo_duckdb -t test

      - name: Run pytest
        run: |
          poetry run python -m pytest
